# Logs
logs
*.log
npm-debug.log*

# Compiled binary
build/
dist/

# Dependency directories
node_modules/
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env

# IDE
.idea